res/ReportOldTDList1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by hmendez (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="lineReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineReport2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="nameTestDataSet" type="xs:string" use="required"/>
			<xs:attribute name="nameTestCase" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineReport2">
		<xs:complexType>
			<xs:attribute name="nameElement" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportCSV">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineReport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
