res/TestCaseReports/ReportERList1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xbi="errorlist.data.report.view.bi" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="errorlist.data.report.view.bi" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:complexType name="ClosedByType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ClosingDateType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DescriptionType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="Name" type="xbi:NameType"/>
			<xs:element name="Description" type="xbi:DescriptionType"/>
			<xs:element name="State" type="xbi:StateType"/>
			<xs:element name="Priority" type="xbi:PriorityType"/>
			<xs:element name="IssueDate" type="xbi:IssueDateType"/>
			<xs:element name="IssuedBy" type="xbi:IssuedByType"/>
			<xs:element name="ClosingDate" type="xbi:ClosingDateType"/>
			<xs:element name="ClosedBy" type="xbi:ClosedByType"/>
			<xs:element name="TestCases" type="xbi:TestCasesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ErrorListReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xbi:ReportHeadTitle"/>
				<xs:element ref="xbi:ReportTitle"/>
				<xs:element ref="xbi:HeaderImg"/>
				<xs:element name="Project" type="xbi:ProjectType"/>
				<xs:element name="TestObject" type="xbi:TestObjectType"/>
				<xs:element name="Errors" type="xbi:ErrorsType"/>
				<xs:element name="Date">
					<xs:complexType mixed="true">
						<xs:attribute name="Label" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserName">
					<xs:complexType mixed="true">
						<xs:attribute name="Label" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ErrorsType">
		<xs:sequence>
			<xs:element name="Error" type="xbi:ErrorType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HeaderImg" type="xs:string"/>
	<xs:complexType name="IssueDateType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="IssuedByType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="NameType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PreconditionType">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PriorityType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProjectType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="ReportHeadTitle" type="xs:string"/>
	<xs:element name="ReportTitle" type="xs:string"/>
	<xs:complexType name="RiskLevelType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="StateType" mixed="true">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TestCaseType">
		<xs:sequence>
			<xs:element name="Name" type="xbi:NameType"/>
			<xs:element name="RiskLevel" type="xbi:RiskLevelType"/>
			<xs:element name="Description" type="xbi:DescriptionType"/>
			<xs:element name="UserDescription" type="xbi:UserDescriptionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TestCasesType">
		<xs:sequence>
			<xs:element name="TestCase" type="xbi:TestCaseType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TestObjectType">
		<xs:sequence>
			<xs:element name="Name" type="xbi:NameType"/>
			<xs:element name="Description" type="xbi:DescriptionType"/>
			<xs:element name="Precondition" type="xbi:PreconditionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserDescriptionType">
		<xs:attribute name="Label" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
