res/TestCaseReports/ReportDCList1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by smoreno (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcl="depcomblist.data.report.view.bi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="depcomblist.data.report.view.bi" elementFormDefault="unqualified" attributeFormDefault="unqualified" xsi:schemaLocation="depcomblist.data.report.view.bi
C:\DOCUME~1\smoreno.BIDOMAIN\Escritorio\ReportDependency\ReportDependency\ReportDC1.xsd">
	<xs:complexType name="CauseEffectType">
		<xs:sequence>
			<xs:element name="Name" type="dcl:NameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CauseEffectsType">
		<xs:sequence>
			<xs:element name="CauseEffect" type="dcl:CauseEffectType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="CombinationType">
		<xs:sequence>
			<xs:element name="Id" type="dcl:IdType"/>
			<xs:element name="Name" type="dcl:NameType"/>
			<xs:element name="CauseEffects" type="dcl:CauseEffectsType"/>
			<xs:element name="EqClassReference" type="dcl:EqClassReferenceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DependencyType">
		<xs:sequence>
			<xs:element name="Id" type="dcl:IdType"/>
			<xs:element name="Name" type="dcl:NameType"/>
			<xs:element name="Combination" type="dcl:CombinationType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DescriptionType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ElementType">
		<xs:sequence>
			<xs:element name="Id" type="dcl:IdType"/>
			<xs:element name="Name" type="dcl:NameType"/>
			<xs:element name="Description" type="dcl:DescriptionType"/>
			<xs:element name="EquivalenceClass" type="dcl:EquivalenceClassType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EqClassReferenceType">
		<xs:attribute name="UniqueId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="EquivalenceClassType">
		<xs:sequence>
			<xs:element name="Id" type="dcl:IdType"/>
			<xs:element name="State" type="dcl:StateType"/>
			<xs:element name="Value" type="dcl:ValueType"/>
			<xs:element name="Description" type="dcl:DescriptionType"/>
		</xs:sequence>
		<xs:attribute name="UniqueId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="IdType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NameType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ProjectType">
		<xs:sequence>
			<xs:element name="Name" type="dcl:NameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReportDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Project" type="dcl:ProjectType"/>
				<xs:element name="TestObject" type="dcl:TestObjectType"/>
				<xs:element name="Element" type="dcl:ElementType" maxOccurs="unbounded"/>
				<xs:element name="Dependency" type="dcl:DependencyType"/>
				<xs:element name="UserName" type="dcl:UserNameType"/>
				<xs:element name="Date" type="dcl:DateType"/>
			</xs:sequence>
			<xs:attribute name="LabelDC" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StateType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TestObjectType">
		<xs:sequence>
			<xs:element name="Name" type="dcl:NameType"/>
			<xs:element name="Description" type="dcl:DescriptionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserNameType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ValueType" mixed="true">
		<xs:attribute name="LabelDC" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
