res/TestCaseReports/ReportTCList2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by ccastedo (BUSINESS INNOVATIONS) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:tc2="testcaselist2.data.report.view.bi" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="testcaselist2.data.report.view.bi" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Assignment" type="xs:string">
		<xs:annotation>
			<xs:documentation> Asigment of values to a equivalence class in a test case</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CauseEffectType" mixed="true">
		<xs:annotation>
			<xs:documentation>Cause / Effect</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="tc2:NameType"/>
			<xs:element name="Description" type="tc2:DescriptionType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ExpectedResult" type="tc2:ExpectedResultType"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="LabelTCL1" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DataTypeType">
		<xs:annotation>
			<xs:documentation>Data type of the value</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VersionType">
		<xs:annotation>
			<xs:documentation> Casemaker Version</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ExpectedResultType" mixed="true">
		<xs:annotation>
			<xs:documentation>Expected results of a cause effect</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataType" type="tc2:DataTypeType"/>
			<xs:element name="Name" type="tc2:NameType"/>
			<xs:element name="Value" type="tc2:ValueType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateType" mixed="true">
		<xs:annotation>
			<xs:documentation>Date of the Parent</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string" use="required"/>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
		<xs:attribute name="QAFormat" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DescriptionType" mixed="true">
		<xs:annotation>
			<xs:documentation>Description of the Parent</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelQA" type="xs:string" use="optional"/>
		<xs:attribute name="LabelTCL1" type="xs:string" use="optional"/>
		<xs:attribute name="LabelTCL2" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ElementType">
		<xs:annotation>
			<xs:documentation>Element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="tc2:IdType"/>
			<xs:element name="Name" type="tc2:NameType"/>
			<xs:element name="Description" type="tc2:DescriptionType" minOccurs="0"/>
			<xs:element name="EquivalenceClass" type="tc2:EquivalenceClassType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RiskLevelType" mixed="true">
		<xs:annotation>
			<xs:documentation>Risk Level of the parent</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL2" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="EquivalenceClassType">
		<xs:annotation>
			<xs:documentation>Equivalence Class</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="tc2:IdType"/>
			<xs:element name="State" type="tc2:StateType"/>
			<xs:element name="Value" type="tc2:ValueType"/>
			<xs:element name="Description" type="tc2:DescriptionType"/>
			<xs:element ref="tc2:Assignment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CauseEffects" type="tc2:CauseEffectsType"/>
		</xs:sequence>
		<xs:attribute name="UniqueId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="IdType" mixed="true">
		<xs:annotation>
			<xs:documentation>Id of the Object</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NameType" mixed="true">
		<xs:annotation>
			<xs:documentation>Name of the Object</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string" use="optional"/>
		<xs:attribute name="LabelQA" type="xs:string" use="optional"/>
		<xs:attribute name="LabelTCL2" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ProjectType">
		<xs:annotation>
			<xs:documentation>Project</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="tc2:NameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReportTestCases">
		<xs:annotation>
			<xs:documentation>Root of the report</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CMVersion" type="tc2:VersionType"/>
				<xs:element name="WorkSpace" type="tc2:WorkSpaceType"/>
				<xs:element name="Project" type="tc2:ProjectType"/>
				<xs:element name="TestObject" type="tc2:TestObjectType"/>
				<xs:element name="Element" type="tc2:ElementType" maxOccurs="unbounded"/>
				<xs:element name="TestCase" type="tc2:TestCaseType" maxOccurs="unbounded"/>
				<xs:element name="UserName" type="tc2:UserNameType"/>
				<xs:element name="Date" type="tc2:DateType"/>
				<xs:element name="Origin" type="tc2:OriginType"/>
			</xs:sequence>
			<xs:attribute name="LabelTCL1" type="xs:string" use="required"/>
			<xs:attribute name="LabelQA" type="xs:string" use="required"/>
			<xs:attribute name="LabelCSV" type="xs:string" use="required"/>
			<xs:attribute name="LabelTCL2" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Label for Test Case List 2</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CMVersion" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Casemaker Version</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReqNum" type="xs:string">
		<xs:annotation>
			<xs:documentation>Number of requirement calculated from Effects and related equivalence classes</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReqNumsType" mixed="true">
		<xs:annotation>
			<xs:documentation> Requirements grouped</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="tc2:ReqNum" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="LabelTCL2" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="StateType" mixed="true">
		<xs:annotation>
			<xs:documentation>State of the Parent</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string"/>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="TestCaseType">
		<xs:annotation>
			<xs:documentation>Test Object's Test case</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="tc2:IdType"/>
			<xs:element name="Name" type="tc2:NameType"/>
			<xs:element name="Description" type="tc2:DescriptionType"/>
			<xs:element name="UserDescription" type="tc2:UserDescriptionType"/>
			<xs:element name="State" type="tc2:StateType"/>
			<xs:element name="RiskLevel" type="tc2:RiskLevelType"/>
			<xs:element name="ReqNums" type="tc2:ReqNumsType"/>
			<xs:element name="ElementReference" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="Id" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="EqClassReference" type="tc2:EqClassReferenceType" maxOccurs="unbounded"/>
			<xs:element name="CauseEffects" type="tc2:CauseEffectsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TestObjectType">
		<xs:annotation>
			<xs:documentation>TestObject </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="tc2:NameType"/>
			<xs:element name="Description" type="tc2:DescriptionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserDescriptionType" mixed="true">
		<xs:annotation>
			<xs:documentation>Description from the User</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelQA" type="xs:string" use="optional"/>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="UserNameType" mixed="true">
		<xs:annotation>
			<xs:documentation>Name of the User</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string" use="optional"/>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="OriginType" mixed="true">
		<xs:annotation>
			<xs:documentation>The Origin of the Parent</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ValueType" mixed="true">
		<xs:annotation>
			<xs:documentation>Value Assigned</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LabelTCL1" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="WorkSpaceType">
		<xs:annotation>
			<xs:documentation>Workspace</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="tc2:NameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EqClassReferenceType" mixed="false">
		<xs:annotation>
			<xs:documentation>Reference To a equivalence class</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UniqueId" type="xs:string" use="required"/>
		<xs:attribute name="ElementId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Element" type="tc2:ElementType">
		<xs:annotation>
			<xs:documentation>Test Object Element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CauseEffectsType" mixed="true">
		<xs:annotation>
			<xs:documentation>Effects grouped</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CauseEffect" type="tc2:CauseEffectType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="LabelTCL2" type="xs:string"/>
		<xs:attribute name="LabelTCL1" type="xs:string"/>
	</xs:complexType>
</xs:schema>
